{% extends "bootstrap/base.html" %}
{% block title %}Review{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- Submit form to python script (user_results). -->
            <form class="form-group" action="{{ url_for('user_result') }}" method="POST">
                <div class="form-group">
                    <label for="sel1">Select Testing Job:</label>
                    <!-- Loop through job names in database. -->
                    <select class="form-control foreground" name="choice">
                        {% for jobs in jobs %}

                        <option>{{ jobs.name }}</option>

                        {% endfor %}
                    </select>
                </div>
                <hr class="my-4">
                <label>The Installation/Setup Procedure?</label>
                <textarea class="form-control foreground" rows="6" name="installation"
                    required="required"></textarea>
                <hr class="my-4">
                <label>The Performance?</label>
                <textarea class="form-control foreground" rows="6" name="performance"
                    required="required"></textarea>
                <hr class="my-4">
                <label>The Functionality?</label>
                <textarea class="form-control foreground" rows="6" name="functionality"
                    required="required"></textarea>
                <hr class="my-4">
                <label>The User Experience?</label>
                <textarea class="form-control foreground" rows="6" name="experience"
                    required="required"></textarea>
                <hr class="my-4">
                <a class="btn btn-danger float-md-right btn-space" href="{{ url_for('logout') }}" role="button">Cancel</a>
                <button type="submit" class="btn btn-warning float-md-right btn-space">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}