{% extends "bootstrap/base.html" %}
{% block title %}Review{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<link rel="icon" href="{{url_for('.static', filename='img/python-powered.png')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- Submit form to python script (user_results). -->
            <form class="form-group" action="{{ url_for('user_result') }}" method="POST">
                <div class="form-group">
                    <label>Select Testing Job:</label>
                    <!-- Loop through job names in database. -->
                    <select class="form-control foreground" name="choice">
                        {% for jobs in jobs %}

                        <option>{{ jobs.product }}</option>

                        {% endfor %}
                    </select>
                </div>
                <hr class="my-4">
                <label>The Installation/Setup Procedure?</label>
                <textarea class="form-control foreground" rows="6" name="installation" required="required"></textarea>
                <div class="form-group">
                    <br>
                    <label>User Rating:</label>
                    <select class="form-control foreground col-md-1" name="install_rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <hr class="my-4">
                <label>The Performance?</label>
                <textarea class="form-control foreground" rows="6" name="performance" required="required"></textarea>
                <div class="form-group">
                    <br>
                    <label>User Rating:</label>
                    <select class="form-control foreground col-md-1" name="perf_rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <hr class="my-4">
                <label>The Functionality?</label>
                <textarea class="form-control foreground" rows="6" name="functionality" required="required"></textarea>
                <div class="form-group">
                    <br>
                    <label>User Rating:</label>
                    <select class="form-control foreground col-md-1" name="func_rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <hr class="my-4">
                <label>The User Experience?</label>
                <textarea class="form-control foreground" rows="6" name="experience" required="required"></textarea>
                <div class="form-group">
                    <br>
                    <label>User Rating:</label>
                    <select class="form-control foreground col-md-1" name="exp_rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <hr class="my-4">
                <a class="btn btn-danger float-md-right btn-space" href="{{ url_for('logout') }}"
                    role="button">Cancel</a>
                <button type="submit" class="btn btn-warning float-md-right btn-space">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}